@import '../styles/variables.scss';

.whatsapp-btn {
    position: fixed;
    bottom: 15dvh;
    right: 22dvh;
    border-radius: 50%;
    z-index: 6;
    transition: transform 0.6s;
}

.whatsapp-btn img {
    width: 8dvh;
    transition: transform 0.4s;
}

.whatsapp-btn span {
    visibility: hidden;
    color: $primaryBlack;
    text-align: center;
    font-size: 1rem;
    left: -6dvh;
    top: -15dvh;
    position: absolute;
}

.whatsapp-btn:hover {
    transform: scale(1.2);
}

.whatsapp-btn:hover span {
    visibility: visible;
    opacity: 1;
}