@import '../styles/variables.scss';
@import '../styles/header.scss';
@import '../styles/main.scss';
@import '../styles/footer.scss';
@import '../styles/btn-whatsapp.scss';
@import '../styles/responsivity.scss';

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    width: 100%;
}

body {
    width: 100%;
    height: 100dvh;
    font-family: 'Poppins', serif;
    position: relative;
    outline: 0;
}

p {
    font-size: 1rem;
}

button {
    cursor: pointer;
    font-size: 1rem;
}

a {
    cursor: pointer;
}

i {
    cursor: pointer;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}